## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [10]:
numero_entero = 11
print(numero_entero)

11

2) Imprimir el tipo de dato de la variable 8.5

In [11]:
a = 8.5
print(type(a))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [12]:
numero_entero = 11
print(type(numero_entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [13]:
nombre = 'Lautaro'
print(nombre)

Lautaro

5) Crear una constante que contenga el número Pi

In [14]:
PI = 3.14
print(PI)

3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [15]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [16]:
import math
euler = round(math.e, 4)
print(euler)

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
a = True
b = 'True'
print(type(a))
print(type(b))

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [3]:
a = True
b = 'True'
print(type(a))
print(type(b))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [4]:
num = 8
print(num + 5)
print(num + 6.5)

13
14.5

11) Realizar una operación de suma de un número definido como string con un entero

In [5]:
num_ent = 10
num_str = "5"
suma = int(num_str) + num_ent
print(suma)

15

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [6]:
variable = 2.7183 ** 3
print(variable)

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [8]:
ab = input("ingrese el primer valor: ")
ab = float(ab)
ac = input("ingrese el segundo valor: ")
ac = float(ac)
print(ab * ac)

9.0

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [11]:
cociente = 27/4
print(cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [12]:
cociente = 27//4
print(cociente)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [13]:
cociente = 27%4
print(cociente)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [14]:
operando = 4 * 6 + 3
print(operando)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [15]:
oo = 2
ok = "2"
print(oo == ok)

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [16]:
oo = 2
ok = "2"
ok = int(ok)
print(oo == ok)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [18]:
##el error es lanzado porque el float se escribe con un punto y no una coma
a = float('3.8')
print(type(a))

<class 'float'>

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [21]:
## z = 10 + '10' ## no, no arrojaria el mismo resultado ya que el resultado podria ser 20 o 1010
z = 10 + int('10')
t = str(10) + '10'
print(z)
print(t)

20
1010

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [22]:
menu = '''
MENU
1-PIZZA       2-EMPANADAS
3-MILANESAS   4-SALIR
'''
print(menu)

MENU
1-PIZZA       2-EMPANADAS
3-MILANESAS   4-SALIR

23) Crear una lista que contenga los números del 1 al 10

In [23]:
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [24]:
print(lista[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [26]:
lista[3] = 'Lautaro'
print(lista[3])

Lautaro

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [40]:

matriz = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
    ]

27) Imprimir la matriz creada en el punto 26

In [37]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [41]:
matriz[1][1] = 'Z'
print(matriz[1][1])

Z

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [42]:
matriz[0] = [1, 2, 3]
print(matriz)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [43]:
tupla = (('nike', 'adidas', 'puma', 'zara', 'gucci'))
print(tupla)

('nike', 'adidas', 'puma', 'zara', 'gucci')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [44]:
print(tupla[0])

nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
tupla[1] = 'kalvin klein'
print(tupla[1])
##no se puede porque los elementos de las tuplas una vez hechos no se pueden modificar luego
##devolvio adidas porque lo probe asi pero realmente devuelve un error

adidas

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [ ]:
persona = {"nombre" : "Lautaro", "apellido" : "Pérez", "edad" : 19, "hobbies" : ["leer", "caminar", "cocinar"]}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [2]:
persona = {"nombre" : "Lautaro", "apellido" : "Pérez", "edad" : 19, "hobbies" : ["leer", "caminar", "cocinar"]}
print(persona["hobbies"])

['leer', 'caminar', 'cocinar']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [2]:
persona = {"nombre" : "Lautaro", "apellido" : "Pérez", "edad" : 19, "hobbies" : ["leer", "caminar", "cocinar"]}
persona ["edad"] = 20
print(persona["edad"])

20